# Locomotive Service
PORT=8083
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=realtime_ktzh
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA=locomotive

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Telemetry
RAW_TELEMETRY_RETENTION_HOURS=72
